.shimmer-container{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}


.shimmer-card{
width: 200px;
    height: 390px;
    margin: 43px;
    padding: 20px;
    align-items: flex-start;
 background-color:rgb(208 220 231 / 49%);
};
